<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Telephelyek</h2>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>
                        Cím
                    </th>
                    <th>
                        Műveletek
                    </th>
                </tr>
                <tr>
                    <td>
                        Bartók Béla utca 4.
                    </td>
                    <td style="width:30px;white-space: nowrap">
                        <a href="/" class="btn btn-sm btn-danger"><fa-icon [icon]="faTrashAlt"></fa-icon></a>
                    </td>
                </tr>
            </table>
            <br/>
        </div>
    </div>
</div>