<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
      <img id="qe-logo" src="../../assets/qe_logo.png" alt="">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
<!--        <app-login-menu></app-login-menu>-->
        <ul class="navbar-nav flex-grow">
          <li
            *ngIf = "user_level == 1"
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-light" [routerLink]="['/']">Sorszámaim</a>
          </li>
          <li *ngIf = "user_level == 1" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/history']"
              >Sorszám előzmények</a
            >
          </li>
          <li *ngIf = "user_level == 2" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/waiting']"
              >Várakozó ügyfelek</a
            >
          </li>
          <li *ngIf = "user_level == 3" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/category/list']"
              >Kategóriák</a
            >
          </li>
          <li *ngIf = "user_level == 3" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/employee/list']"
              >Alkalmazottak</a
            >
          </li>
          <li  *ngIf = "user_level == 3"class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/site/list']"
              >Telephelyek</a
            >
          </li>
          <li *ngIf = "user_level == 4" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/company/list']"
              >Cégek</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
