<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card text-center view add-card p-2">
        <div class="card-body">
          <a role="button" class="card-block stretched-link text-decoration-none" (click)="openDialog()">
            <p class="card-title add-button" >+</p>
          </a>
        </div>
      </div>
    </div> 
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let q of activeQueue">
      <div class="card text-center">
        <div class="card-body">
            <img class="img-fluid" src="Images\Cegek\{{q.cegId}}.png" alt="">
            <h5 class="card-title">{{q.ceg}}</h5>
            <p class="card-text">{{q.telephely}}</p>
            <p class="card-text">{{q.kategoria}}</p>
            <p class="number">{{q.sorszamIdTelephelyen}}</p>
            <p class="text-muted">Várakozók száma: {{q.sorbanAllokSzama}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
