<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card text-center view add-card p-2">
        <div class="card-body">
          <a role="button" class="card-block stretched-link text-decoration-none" (click)="openDialog()">
            <p class="card-title add-button" >+</p>
          </a>
        </div>
      </div>
    </div> 
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let queue of active_queue">
      <div class="card text-center">
        <div class="card-body">
            <img class="img-fluid" [src]="queue.companylogo" alt="">
            <h5 class="card-title">{{queue.company}}</h5>
            <p class="card-text">{{queue.address}}</p>
            <p class="number">{{queue.number}}</p>
            <p class="text-muted">Várakozók száma: {{queue.inline}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
