<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Cég felvétele</h2>
            <form (ngSubmit)="submitCompany()" method="POST">
                <div class="form-group">
                    <label for="companyname">Cég neve</label>
                    <input [(ngModel)]="company.nev" type="text" class="form-control" id="companyname" name="companyname">
                </div>
                <div class="form-group">
                    <label for="companyadminemail">Cégadmin e-mail cime</label>
                    <input [(ngModel)]="email" type="text" class="form-control" id="companyadminemail" name="companyadminemail">
                </div>
                <button type="submit" class="btn btn-primary">Mentés</button>
                <a class="btn btn-link" href="/company/list">Mégsem</a>
            </form>
        </div>
    </div>
</div>
