<div class="page">
    <h2 style="margin-bottom: 20px;">Sorszám előzményei</h2>
    <div class="row entry align-items-center" *ngFor="let h of history">
        <div class="col-md-1 col-sm-12">
            <img class="img-fluid" src="Images\Cegek\{{q.cegId}}.png" alt="">
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="row company-name">
                {{h.ceg}} ({{h.telephely}})
            </div>
            <div class="row category-name">
                {{h.kategoria}}
            </div>
            <div class="row date">
                {{h.idopont}}
            </div>
        </div>
        <div class="col-md-2 col-sm-12 number">
            {{h.sorszamIdTelephelyen}}
        </div>
    </div>
</div>