<div class="page">
    <h2 style="margin-bottom: 20px;">Sorszám előzményei</h2>
    <div class="row entry align-items-center">
        <div class="col-md-1 col-sm-12">
            <img src="../../../assets/tmobile.png" alt="">
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="row company-name">
                T-Mobile (Bartók Béla utca 56.)
            </div>
            <div class="row category-name">
                Lakossági ügyintézés
            </div>
            <div class="row date">
                2020.05.06. 16:34
            </div>
        </div>
        <div class="col-md-2 col-sm-12 number">
            067
        </div>
    </div>
    <div class="row entry align-items-center">
        <div class="col-md-1 col-sm-12">
            <img src="../../../assets/tmobile.png" alt="">
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="row company-name">
                T-Mobile (Bartók Béla utca 56.)
            </div>
            <div class="row category-name">
                Lakossági ügyintézés
            </div>
            <div class="row date">
                2020.05.06. 16:34
            </div>
        </div>
        <div class="col-md-2 col-sm-12 number">
            067
        </div>
    </div>
    <div class="row entry align-items-center">
        <div class="col-md-1 col-sm-12">
            <img src="../../../assets/tmobile.png" alt="">
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="row company-name">
                T-Mobile (Bartók Béla utca 56.)
            </div>
            <div class="row category-name">
                Lakossági ügyintézés
            </div>
            <div class="row date">
                2020.05.06. 16:34
            </div>
        </div>
        <div class="col-md-2 col-sm-12 number">
            067
        </div>
    </div>
    <div class="row entry align-items-center">
        <div class="col-md-1 col-sm-12">
            <img src="../../../assets/tmobile.png" alt="">
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="row company-name">
                T-Mobile (Bartók Béla utca 56.)
            </div>
            <div class="row category-name">
                Lakossági ügyintézés
            </div>
            <div class="row date">
                2020.05.06. 16:34
            </div>
        </div>
        <div class="col-md-2 col-sm-12 number">
            067
        </div>
    </div>
</div>