<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Kategória szerkesztése</h2>
      <div *ngIf="errors">
        <div *ngIf="errors.megnevezes">
          <div class="alert alert-danger" *ngFor="let e of errors.megnevezes">
            {{e}}
          </div>
        </div>
      </div>
      <form [formGroup]="form" (ngSubmit)="submitPressed(form.value)" method="POST">
        <div class="form-group">
          <label for="megnevezes">Megnevezés</label>
          <input formControlName="megnevezes" type="text" class="form-control" id="megnevezes" name="megnevezes">
        </div>
        <button type="submit" class="btn btn-primary">Mentés</button>
        <a class="btn btn-link" [routerLink]="['/category/list']">Mégsem</a>
      </form>
    </div>
  </div>
</div>