<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Kategóriák</h2>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>
                        Megnevezés
                    </th>
                    <th>
                        Műveletek
                    </th>
                </tr>
              <tr *ngFor="let c of categories">
                <td>
                  {{c.megnevezes}}
                </td>
                <td style="width:30px;white-space: nowrap">
                  <a routerLink="/category/edit/{{c.id}}" class="btn btn-sm btn-primary" style="margin-right: 5px;"><fa-icon [icon]="faEdit"></fa-icon></a>
                  <button (click)="deleteCategory(c.id)" class="btn btn-sm btn-danger"><fa-icon [icon]="faTrashAlt"></fa-icon></button>
                </td>
              </tr>
            </table>
            <a class="btn btn-primary" routerLink="/category/add">Új kategória felvétele</a>
            <br/>
        </div>
    </div>
</div>
