<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Alkalmazott felvétele / szerkesztése</h2>
            <form>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="site">Telephely</label>
                    <select class="form-control" id="site" name="site">
                        <option value="id1">Bartók Béla utca 2.</option>
                        <option value="id1">Béke tér 23.</option>
                        <option value="id1">Üllői út 673.</option>
                    </select>
                </div>
                <a class="btn btn-primary" href="/">Mentés</a>
                <a class="btn btn-link" href="/category/list">Mégsem</a>
            </form>
        </div>
    </div>
</div>