<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Cégek</h2>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>
                        Logó
                    </th>
                    <th>
                        Név
                    </th>
                    <th>
                        Cégadmin
                    </th>
                    <th>
                        Műveletek
                    </th>
                </tr>
                <tr *ngFor="let c of companies">
                    <td align="center">
                        <img [src]="c.imagePath" class="mx-auto" style="max-width: 50px;" alt="">
                    </td>
                    <td>
                        {{c.nev}}
                    </td>
                    <td>
                        {{companyAdminEmails[companies.indexOf(c)]}}
                    </td>
                    <td style="width:30px;white-space: nowrap">
                        <a routerLink="/company/edit/{{c.id}}" class="btn btn-sm btn-primary" style="margin-right: 5px;"><fa-icon [icon]="faEdit"></fa-icon></a>
                        <a (click)="deleteCompany(c.id)" class="btn btn-sm btn-danger"><fa-icon [icon]="faTrashAlt"></fa-icon></a>
                    </td>
                </tr>
            </table>
            <a class="btn btn-primary" routerLink="/company/add">Új cég felvétele</a>
            <br/>
        </div>
    </div>
</div>
